{% extends "base.html" %}

{% block content %}

<a href="/create" class="btn btn-primary mb-3">Nueva tarea</a>

<table class="table">
  <tr>
    <th>Titulo</th>
    <th>Descripcion</th>
    <th>Fecha</th>
    <th>Acciones</th>
  </tr>

  {% for task in tasks %}
  <tr>
    <td>{{task.title}}</td>
    <td>{{task.description}}</td>
    <td>{{task.date}}</td>
    <td>
        <a href="/edit/{{task.id}}" class="btn btn-warning">Editar</a>
        <a href="/delete/{{task.id}}" class="btn btn-danger">Eliminar</a>
    </td>
  </tr>
  {% endfor %}

</table>

{% endblock %}